boltons
editdistance
flask
h5py
numpy
opencv-python-headless
requests
tensorflow==2.4.1
toml
tqdm
wrapt
tensorflow-datasets
scikit-learn
tensorflow-addons
focal-loss
tf-explain
umap-learn
seaborn
matplotlib
plotly